@import './colors.scss';
@font-face {
    font-family: 'Simpsonfont';
    src: url('../fonts/Simpsonfont.ttf');
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold.ttf');
}
@font-face {
    font-family: 'Roboto-Light';
    src: url('../fonts/Roboto-Light.ttf');
}

a{
    color: black;
}

a:link{
    text-decoration: none;
}

a:hover{
    text-decoration: wavy;
    color: #c9d6df;
}

body{
    font-family: "Roboto-Light", sans-serif;
}

.font-duff {
    font-family: "Simpsonfont", Arial, Helvetica, sans-serif;
}

.txt-white{
    color: $white;
}

.txt-lighter-blue{
    color: $lighter-blue;
}

.txt-darker-blue{
    color: $darker-blue;
}

.txt-beige{
    color: $beige;
}

.txt-darker-brown{
    color: $darker-brown;
}

.txt-lighter-brown{
    color: $lighter-brown;
}

.bg-lighter-brown{
    background-color: $lighter-brown;
}

.bg-darker-brown{
    background-color: $darker-brown;
}

.bg-beige{
    background-color: $beige;
}

.bg-lighter-blue{
    background-color: $lighter-blue;
}

.bg-darker-blue{
    background-color: $darker-blue;
}

.roboto-bold{
    font-family: "Roboto-Bold";
}

.roboto-regular{
    font-family: "Roboto-Regular";
}

.text-20{
    font-size: 20px;
}

.text-12{
    font-size: 12px;
}

.text-35 {
    font-size: 35px;
}

.height-250{
    max-height: 220px;
}

.height-600{
    height: 450px;
}