@import "../../common/scss/colors.scss";

.first-div{
    background-color: $lighter-blue;
    height: 150px;
}

.second-div{
 background-color: #e4e4e4;   
}

.about-img {
    max-width: 500px;
}

.about-text {
    max-width: 900px;
}

@media screen and (max-width: 720px) {
    .about-img {
        max-width: 300px;
    }
  }
